<div class="top">

<%# コンテンツ01 %>

<div class="contents-01">

  <%= image_tag "scroll.svg",class:'scroll'%>

  <div class="contents-01-text">
    <p class="main-text">MORE<br>FUN</p>
    <p class="sub-text">Let's enjoy tennis<br>Fmore at the event!</p>
  </div>

  <div class="contents-01-bg">
    <%= image_tag "top_main.jpg",class:'img-bg'%>
  </div>
  <div class="cover-slide inview">
    <%= image_tag "DSC_0113.jpg",class:'img-main'%>
  </div>
  
</div>

<%# コンテンツ02 %>

<div class="top-box"></div>

<div class="contents-02">

    <div class="contents-02-text">
      <p class="text-01">トリントとは？</p>
      <%= image_tag "logo.svg", class:"logo" %>
    </div>

  <%= image_tag "top_explanation.svg",class:'explanation'%>
  <div class="bottm-box"></div>

</div>

<%# コンテンツ03 %>

<div class="contents-03">

  <p class="info-title">INFOMATION</p>

  <div class="info">
    <p class="day">2020.12.11</p>
    <p class="item">お知らせ</p>
    <%= link_to "リニューアルしました。新機能をお試しください！","/", class:"text" %>
  </div>
    <div class="info">
    <p class="day">2020.12.11</p>
    <p class="item">お知らせ</p>
    <%= link_to "リニューアルしました。新機能をお試しください！","/", class:"text" %>
  </div>
    <div class="info">
    <p class="day">2020.12.11</p>
    <p class="item">お知らせ</p>
    <%= link_to "リニューアルしました。新機能をお試しください！","/", class:"text" %>
  </div>

</div>


<%# コンテンツ04 %>

<div class="contents-04">


</div>

</div>