<div class="user-top-bg">
</div>

    <div class='user-show-user'>

      <%= image_tag @user.image, class: "user-img"  %>
      <div class='user-name'><%= @user.nickname %></div>

      <ul class='user-show-items'>
          <li class='user-item'><%= @user.age[:name] %></li>
          <li class='user-item'><%= @user.sex[:name] %></li>
          <li class='user-item'>
              <% if @user.level[:name] == "初級"%>
              <div class='levelev level-02'><%= @user.level[:name] %></div>
              <% elsif @user.level[:name] == "初中級"%>
              <div class='levelev level-03'><%= @user.level[:name] %></div>
              <% elsif @user.level[:name] == "中級"%>
              <div class='levelev level-04'><%= @user.level[:name] %></div>
              <% elsif @user.level[:name] == "中上級"%>
              <div class='levelev level-05'><%= @user.level[:name] %></div>
              <% elsif @user.level[:name] == "上級"%>
              <div class='levelev level-06'><%= @user.level[:name] %></div>
              <% elsif @user.level[:name] == "どなたでも"%>
              <div class='levelev level-07'><%= @user.level[:name] %></div><% end %>
          </li>
          <li class='user-item'>テニス歴<%= @user.history %>年</li>
        </ul>

        <div class='user-profile'><%= @user.profile %></div>

      </div>

    </div>


<div class="user-bottom-bg">

  <div class='event-title-mini'>
    <h1 class='title'>HOSTED EVENT</h1>
    <p class='text'>主催イベント</p>
  </div>

  <div class='event-lists'>
      <% @events.each do |event| %>
        <ul class='event-list'>

          <li class='status'>募集中</li>

          <li class='date'>
            <span class='date'>
            <%= event.day.year %>年<br>
            <%= event.day.month %>月
            <%= event.day.day %>日
            <% day = event.day.wday %>
            <% days = ["(日)", "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"] %>
              <% if days[day] == "(日)"%>
                <span class='mon'><%= days[day] %></span>
              <% elsif days[day] == "(土)"%>
                <span class='sat'><%= days[day] %></span>
              <% else %>
                <%= days[day] %>
              <% end %>
          </span>
          </li>
        
          <li class='level-title'>
            <% if event.levelev[:name] == "初級"%>
              <div class='levelev level-02'><%= event.levelev[:name] %></div>
            <% elsif event.levelev[:name] == "初中級"%>
              <div class='levelev level-03'><%= event.levelev[:name] %></div>
            <% elsif event.levelev[:name] == "中級"%>
              <div class='levelev level-04'><%= event.levelev[:name] %></div>
            <% elsif event.levelev[:name] == "中上級"%>
              <div class='levelev level-05'><%= event.levelev[:name] %></div>
            <% elsif event.levelev[:name] == "上級"%>
              <div class='levelev level-06'><%= event.levelev[:name] %></div>
            <% elsif event.levelev[:name] == "どなたでも"%>
              <div class='levelev level-07'><%= event.levelev[:name] %></div>
            <% end %>
            <%= link_to event_path(event.id),class:"title" do %>
              <%= event.title %>
            <% end %>
          </li>

          <li class='organizer'>
            <%= link_to image_tag(event.user.image, class: "user-img"), "/users/#{event.user.id}" %>
            <%= link_to event.user.nickname, "/users/#{event.user.id}", class:'user-name'%>
          </li>
        </ul>
      <% end %>
    </div>

</div>